<div>
  <% if user_signed_in? %>
    <header class="user-header">
      <div class="info">
        <h1>Your Pet's Symptoms</h1>
        <p>Descriptions of treatments</p>
      </div>
    </header>
    <main>
      <ul>
        <% @symptoms.each do |symptom| %>
          <li>
            <div class="symp">suggestion: <%= symptom.suggestion %>
              <span class="tooltiptext">description: <%= symptom.description %></span>
            </div>
          </li>
        <% end %>
      </ul>
    </main>
        <% else %>
      <div class="categories section-wrapper">
        <div class="flex-header">
          <%= link_to "Please Log In", new_user_session_path, class: "nav-link" %>
        </div>
      </div>
      <% end %>
  </div>
