<h1>Symptom page</h1>


    <h2 class="description">description of the treatment </h2>
      <ul>
    <% @symptoms.each do |symptom| %>
      <li>
        <div class="symp">suggestion: <%= symptom.suggestion %>
          <span class="tooltiptext">description: <%= symptom.description %></span>
        </div>
         </li>
    <% end %>
    </ul>



