.pet-value{
	padding: 5px 12px;
	background-color: #DE8F6E;
	color: black;
	border-radius: 5px;
	display: inline-flex;
	align-items: center;
	margin-left: 15px;
  font-size: 18px;

  p {
    align-items: center;
  }

	img{
		width: auto;
		height: 12px;
		margin-right: 7px;
	}
}

.pet-prescription{
  padding: 5px 12px;
	background-color: #9CEAEF;
	color: black;
	border-radius: 5px;
	display: inline-flex;
	align-items: center;
	margin-left: 15px;
  font-size: 18px;
}

.pet-description {
  padding: 5px 12px;
	background-color: #FFA630;
	color: black;
	border-radius: 5px;
	display: inline-flex;
	align-items: center;
	margin-left: 15px;
  font-size: 18px;
}

.info-line {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
  font-size: 20px;
}

.wrap-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.pet-info {
  display: flex;
  background-color: var(--background);
  box-shadow: 6px 7px 22px -4px rgba(0,0,0,0.44);
  border-radius: 30px;
  padding: 1rem;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 45%;
}

.flex-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 2rem;
    padding: 1rem;
    flex-wrap: wrap;
}
