.user-btn {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

  .participant {
    position:absolute;
    border-radius: 16px;
    overflow:visible;
  video {
    border-radius: 16px;
    width: 100%;
  }
}

.remote-media-div {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  #userVideo {
    width: 300px;
    position:relative;
    height: 400px;
    top: 60px;
    right: 108px;
    object-fit: cover;
    background-color: gray;
  }

  #leave-btn {
    position: relative;
        top: 300px;
        right: 300px;
  }

}

.consultation {
  top: 0 !important;
  padding: 0;
}

buttons-panel{
  position: fixed;
  bottom: 0;
  width: 100%;
}

#remote-video{
  border-radius: 15px;
  video{
    width: 100%;
    height: 770px;
    border-radius: 15px;
  }
}

#local-video{
  border-radius: 15px;
  video{
    border-radius: 15px;
    width: 100%;
    height: 300px;
  }
}


// #userVideo {
//   width: 200px;
//   position: relative;
//   top: 9px;
//   right: 110px;
// }
