@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

:root {
    --main-color: #0173ff;
    --main-light: #80b9ff;
    --accent-light:#cde4ff;
    --green-call: #289659;
    --background: #fff;
    --div: #F2F2F2;
}

body {
    background: var(--background);
}

a {
    color: #333;
}

.flex {
    display: flex;
    align-items: center;
}

.cta {
  border: none;
  background: none;
  color: var(--green-call);
  font-weight: 700;

}
.user-header {
    background: var(--main-color);
    padding: 2rem 1.5rem 4rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-content: center;

    .info {

      h1 {
        font-size: 30px;
        font-weight: 700;
        color: white;

      }

       p {
      font-weight: 400;
      color: #fff;
      opacity: 0.7;
       }
    }

    img {
      width: 100px;
      height: 100px;
      border-radius: 100%;
      object-fit: cover;
      margin-left: 10px;
    }
}


.search {
    margin: 1.3rem 0rem 0rem 0rem;
    display: flex;
    background: #fff;
    align-items: center;
    padding: .8rem 1rem;
    border-radius: 10px;
}

.search span {
    font-size: 1.3rem;
    margin-right: .6rem;
}

.search input {
    display: block;
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
}

.action-bar {
    width: 100%
}

.action-bar .info {
    width: 100%;
    color: #fff;
    flex: 1 !important;
    text-align: center;
}

.action-bar a {
    color: #fff;
}

.action-bar span {
    font-size: 1.4rem;
    color: #fff;
}

main {
    padding: 1rem;
    padding-bottom: 4rem;
    border-radius: 35px 35px 0px 0px;
    position: relative;
    top: -3rem;
    background-color: var(--background);
}

.section-wrapper {
    background-color: var(--background);
    box-shadow: 6px 7px 22px -4px rgba(0,0,0,0.44);
    border-radius: 30px;
    padding: 1rem;
    margin-top: 10px;
    margin-bottom: 30px;

    h2 {
    font-size: 1.2rem;
    color: #333;
      a {
    font-size: 1.1rem;
    color: var(--main-color);
    font-weight: bold;
      }
    }
}

.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 2rem;
    padding: 1rem;
}


.items {
    width: 100%;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    overflow-x: auto;
}

.items::-webkit-scrollbar {
    width: 0rem !important;
}

.items::-webkit-scrollbar-track {
    width: 0;
}

.item {
    min-width: 100px;
    margin-right: 1.5rem;

    h4 {
    font-size: .95rem;
    text-align: center;
    margin-top: .7rem;
    }
}

.item-img {
    width: 100%;
    height: 100px;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.promo {
    margin: 1.4rem 0rem 0rem 0rem;
}


.promo-item {
    border-radius: 20px;
    display: flex;
    background-color: var(--main-light);
    min-width: 300px !important;
    padding: 1rem;
    align-items: center;
    margin-right: 1rem;
    margin-bottom: 20px;
    box-shadow: 6px 7px 22px -4px rgba(0,0,0,0.44);

    h3 {
    font-size: 1.4rem;
    color: var(--main-color);
    }

    p {
    font-size: .85rem;
    margin: .5rem 0rem .8rem 0rem;
    font-weight: 500;
    }
   a {
    color: var(--main-color);
    font-weight: 600;
    }
}

.promo-img {
    height: 100px;
    width: 100px;
    margin-right: 2rem;

    img {
      object-fit: cover;
      width: 100% !important;
      height: 100% !important;
      border-radius: 20px;
    }
}

.promo-item:last-child {
    background-color: var(--accent-light);
}

.promo-item:last-child {
    background-color: var(--accent-light);
}

.promo-item:last-child h3 {
    color: orange;
}

.promo-item:last-child a {
    color: orange;
}


.popular-img {
    height: 130px;
    width: 140px;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: .7rem;
}

.category-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 1.2rem 0rem;
    text-align: center;

    .item-img {
    background: var(--main-light);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    }
}

.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.product {
    padding: 1rem;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.product:nth-child(even) {
    border-right: none;
}

.product.last {
    border-bottom: none;
}

.prod-img {
    height: 150px;
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: .5rem;
}

.prod-title + small {
    font-weight: 600;
    color: #666;
    display: inline-block;
    margin: .5rem 0rem;
}

.prod-price {
    color: var(--main-color);
    font-weight: 700;
    font-size: 1.2rem;
}

.product button {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 10px 0 0 0;
    background: var(--main-color);
}

.product-header {
    position: relative;
    height: 280px;
    background: #fff;
    padding: 1rem;
}

.product-header .flex {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    right: 1.5rem;
    z-index: 30;
}

.product-header .flex span {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #fff;
    display: grid;
    place-items: center;
    font-size: 1.4rem;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}

.product-img {
    height: 80%;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.product-details {
    margin-bottom: 1rem !important;
    text-align: center;

    h2 {
    font-size: 1.4rem;
       small {
    font-size: .9rem;
    font-weight: 600;
    color: #777;
    display: inline-block;
    margin: .5rem 0rem;
    }
    }
}

.product-details .details {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: .5rem;
}

.product-details .details div {
    padding: 0rem 1rem;
    border-right: 1px solid #ccc;
    font-size: .9rem;
    font-weight: 600;
    color: #444;
}

.product-details .details div:last-child {
    border-right: none;
}

.product-details .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: .7rem;
}

.product-details input {
    width: 40px;
    height: 30px;
    margin: 0rem 1rem;
    border: none;
    outline: none;
    font-weight: 500;
    color: #333;
    font-size: 1.15rem;
}

.product-details button {
    height: 27px;
    width: 27px;
    background: var(--main-color);
    border: 1px solid var(--main-color);
    color: #fff;
    border-radius: 10px;
    font-size: 1.5rem;
    display: grid;
    place-items: center;
}

.product-desc.section-wrapper {
    padding: 0rem;
    overflow-x: hidden;
    margin-bottom: 1.2rem;
}

.product-desc .flex {
    padding: 1rem 2rem;
}

.description {
    background: var(--main-color);
    padding: 2rem;
    border-radius: 20px 20px 0 0;
    position: relative;
}

.description:after {
    position: absolute;
    top: -15px;
    left: 2rem;
    content: '';
    height: 30px;
    width: 30px;
    background: #fff;
    border-radius: 50%;
}

.description p, .description li {
    text-align: justify;
    color: #fff;
    font-weight: 500;
}

.description li {
    margin-bottom: .5rem;
}

.description ul {
    margin-top: .5rem;
}

.container {
    display: flex;
    align-items: center;
    min-height: 100vh;
    width: 80%;
    margin: auto;
}

.page-description {
    margin-right: 10rem;
}

.page-description h1 {
    font-size: 2.9rem;
    margin-bottom: 1rem;
    color: #222;
}

.page-description h1 span {
    color: var(--main-color);
    font-size: 3.5rem;
}

.page-description p {
    color: #747794;
    font-weight: 500;
    line-height: 2rem;
    font-size: 1.1rem;
}

.frame {
    height: 700px;
    width: 414px;
    min-width: 414px;
    border: 4px solid #333;
    border-radius: 20px;
}

.features {
    margin-top: 1.2rem;
}

.features span {
    font-size: 2.5rem;
    margin-right: .5rem;
    color: orange;
}
