// Import page-specific CSS files here.
@import "home";
@import "prescriptions";


.main-index-animal {
  display: flex;
  justify-content: center;
}
.show-img {
    height: 200px;
    width: 200px;
    margin-right: 2rem;

    img {
      object-fit: cover;
      width: 100% !important;
      height: 100% !important;
      border-radius: 100px;
    }
}


