<h1>Your Consultations</h1>

<%= simple_form_for [@animal, @user, @consultation] do |f| %>
  <%= f.association :animal, selected: @animal %>
  <%= f.association :user, label_method: :first_name %>
  <%= f.submit "Submit", class: "btn btn-cta" %>
<% end %>