
    <div class="row justify-content-between">
      <div class="col-7">
        <div class="participant">
        </div>
      </div>
      <div class="col-4">
        <div class="remote-media-div text-center">
          <video id="userVideo" autoplay muted="true" ></video>


            <button id='leave-btn'>
              Leave
            </button>
        </div>
      </div>
      </div>
    </div>
