<div>
  <% if user_signed_in? %>
    <header class="user-header">
      <div class="info">
        <h1>Please select your pet </h1>
        <p>You have <%= Animal.count %> pets.</p>
      </div>
    </header>
    <main>
        <% @animals.each do |animal| %>
            <h3><%= @animals.name %></h3>
            <div class="show-img">
              <%if animal.photo.attached?%>
                <%= cl_image_tag animal.photo.key, height: 300, width: 400, crop: :fill %>
              <% end %>
            </div>
        <% end %>
    <% else %>
      <div class="categories section-wrapper">
        <div class="flex-header">
          <%= link_to "Please Log In", new_user_session_path, class: "nav-link" %>
        </div>
      </div>
    </main>
  <% end %>
</div>
