<div>
  <% if user_signed_in? %>
    <header class="user-header">
      <div class="info">
        <h1><%= @animal.name %> 🤍 </h1>
        <p>Your pet ID card</p>
      </div>
        <%if @animal.photo.attached?%>
          <%= cl_image_tag @animal.photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
    </header>
    <main>

    <div class="wrap-container">
        <div class="categories pet-info">
          <div>
          </div>
        </div>

      <div class="categories pet-info">
          <div>
          </div>
        </div>
    </div>

    <% else %>
      <div class="categories section-wrapper">
        <div class="flex-header">
          <%= link_to "Please Log In", new_user_session_path, class: "nav-link" %>
        </div>
      </div>
    </main>
  <% end %>
</div>





         <%# <h2>Prescriptions :</h2>
          <p><% @prescriptions.each do |prescription| %>
             <%# <%= prescription.content %>
            <%#<% end %>

