<div class="col">
    <p>All <%= Animal.count %> animals.</p>
    <%= cl_image_tag("Balto", width: 400, height: 300, crop: :fill) %>
</div>

<% @prescriptions.each do |prescription| %>
<%= prescription.content %>
<% end %>
