.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.bottom-main {
    background: var(--main-color);
    display: flex;
    justify-content: space-between;
    padding: 1rem 30px;
    border-radius: 30% 30% 0px 0px;
    width: 100%;
    position: relative;
}

.bottom-inner {
    position: relative;
}

.nav-item-main {
    background: #f1f1f1;
    height: 70px;
    width: 70px;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    padding: .3rem;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}

.nav-item-main:hover {

}

.nav-item-main div {
    border: 7px solid var(--green-call);
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.nav-item-main span {
    font-size: 1.9rem;
    color: var(--main-color);
}

.nav-items {
   width: 30%;
}

.nav-item, .nav-item-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2.3rem;
    text-align: center;

    img {
      width: 30px;
      height: auto;
    }

    span {
      display: block;
      color: #fff;
      font-size: 1rem;
      margin-top: 0.5rem;
    }
}

.nav-item:last-child {
    margin-right: 0rem;
}


.nav-item p {
    font-size: .9rem;
    font-weight: 600;
    color: #fff;
}

nav .img {
    height: 45px;
    width: 45px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}


